#Machine {
  height: 80%;
  width: 85%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow: auto;
}

@media (orientation: portrait) {
  #Machine {
    flex-direction: column;
    justify-content: center;
  }
}
